# DATABASE
DB_NAME=notifications
DB_USER=app
DB_PASSWORD=123qwe
DB_PORT=5432
DB_PUBLIC_PORT=5432
DB_HOST=postgres
DB_MASTER_USER=master_user
DB_MASTER_PASSWORD=master_password

# DJANGO
SECRET_KEY=
DJANGO_PORT=8000
DJANGO_PUBLIC_PORT=8000
DEBUG=ON
# Через запятую, например: 127.0.0.1,127.0.0.2
ALLOWED_HOSTS=127.0.0.1,0.0.0.0
