NS_HOST = notification_api
NS_PORT = 8080

RABBITMQ_HOST = rabbitmq
RABBITMQ_PORT = 5672
RABBITMQ_USER = rmuser
RABBITMQ_PASSWORD = rmpassword

DB_NAME=postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=notification_db
POSTGRES_PORT=5432 