DJANGO_SECRET_KEY = 'django-insecure-im@i-j4q1e4-vzg)&ihkwsn%ez9ubt*xmvyp!yj$k7-a0q+vy#'
EVENT_URL = 'http://notification_api:8080/api/v1/send-notification/email'
DJANGO_PORT=8000
DJANGO_PUBLIC_PORT=8000
DEBUG=ON
# Через запятую, например: 127.0.0.1,127.0.0.2
ALLOWED_HOSTS=127.0.0.1,0.0.0.0

NS_HOST = notification_api
NS_PORT = 8080

RABBITMQ_HOST = rabbitmq
RABBITMQ_PORT = 5672
RABBITMQ_USER = rmuser
RABBITMQ_PASSWORD = rmpassword

DB_NAME=postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=notifications_db
POSTGRES_PORT=5432
DB_PUBLIC_PORT=5432
DB_MASTER_USER=master_user
DB_MASTER_PASSWORD=master_password